.side_bar
  .side_bar__user_name
    .side_bar__user_name__top_items
      .side_bar__user_name__top_items__name
        masa
      .side_bar__user_name__top_items__icons
        =link_to "#" "class=right" do
          %i.fa.fa-edit
        =link_to "#" do
          %i.fa.fa-cog 
  .side_bar__group
    .side_bar__group__name
      しん
    .side_bar__group__text
      作成中
  .side_bar__group
    .side_bar__group__name
      しん
    .side_bar__group__text
      作成中
  .side_bar__group
    .side_bar__group__name
      しん
    .side_bar__group__text
      作成中
      